@media(max-width: 1340px){
    .Our-Projects-Picture{
        width: 50%;
    }
    p.Phone-Number{
        font-size: 40px;
    }
    .Head-Center-Text p{
        font-size: 38px;
    }
    p.Delta-Logo-Text-1{
        font-size: 93px;
    }
    p.Delta-Logo-Text-2{
        font-size: 14.4px;
        padding-left: 72px;
    }
    button.Order{
        font-size: 21px;
    }
    .Main-Activity{
        padding-right: 50px;
        padding-left: 50px;
    }
    .By-Company-Description{
        font-size: 18px;
    }
    .By-Company-Description{
        max-width: 100%;
    }
    .By-Company-Text{
        padding-top: 0px;
    }
    .Our-Projects{
        padding-left: 50px;
        padding-right: 0px;
    }
    .By-Company-Picture{
        width: 700px;
    }
}


@media (max-width: 1280px){
    .Main-Activity-Part ul li{
        font-size: 14px;
    }
    .Main-Activity-Part p{
        font-size: 20px;
    }
    .Our-Projects-Text-1{
        font-size: 15px;
    }
    .Our-Projects-Text-2{
        font-size: 13px;
    }
    .Head-Center-Text p{
        line-height: 38px;
    }
    p.Phone-Number{
        font-size: 30px;
        margin-bottom: 10px
    }
    button.Order{
        font-size: 15px;
    }
    p.Delta-Logo-Text-1{
        font-size: 75px;
    }
    p.Delta-Logo-Text-2{
        font-size: 11.5px;
        padding-left: 58px;
    }



	.Head-Menu .Menu-Phone,.Menu-Logo{
		display: none;


	}

	.Footer-Text{
		padding-left: 220px;
		padding-bottom: 20px;
	}
}


@media (max-width: 1024px) {
    .Advantage div p{
        font-size: 17px;
    }
    .Col{
        width: 100%;
        margin-top: 25px;
    }
    .Margin-col-1{
        margin-top: 25px;
    }
    .Margin-col-2{
        margin-top: 25px;
    }
    .Margin-col-3{
        margin-top: 25px;
    }
    .By-Company-Picture{
        display: none;
    }
    .By-Company-Text{
        width: 100%;
    }
    .By-Company-Head{
        text-align: center;
    }
    .By-Company-Description{
        padding-left: 15px;
    }
    .Our-Projects-Part{
        width: 100%;
    }
    .Our-Projects-Picture img{
        display: block;
        margin:0 auto;
    }
    .Our-Projects{
        padding-left: 0px;
    }
    .Head-Delta-Logo{
        width: 100%;
        margin-top: 25px;
    }
    .Head-Center-Text{
        width: 100%;
        margin-top: 25px;
    }
    .Head-Phone{
        width: 100%;
        margin-top: 25px;
    }
    .Head-Menu-Sub{
        padding-top: 100px;
        padding-bottom: 50px;
    }
}





@media (max-width: 950px) {
    .Main-Activity-Head:before, .Main-Activity-Head:after{
        width: 0px;
    }
    .Our-Projects-Head:before, .Our-Projects-Head:after{
        width: 0px;
    }
}




@media (max-width: 750px){
    .Advantage div{
        width: 100%;
        margin-top: 10px;
    }
    .Main-Activity-Part ul li:before{
        top: 6px;
    }
    iframe.Map{
        position: relative;
    }
    .Contacts-Text{
        width: 100%;
        padding-left: 15px;
    }
    .Footer img{
        display: none;
    }
    .Footer .Head-Delta-Logo{
        padding-left: 0px;
    }
    .Footer{
        text-align: center;
        padding-bottom: 15px;
    }
    .Footer-Text{
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width: 600px){
    .Main-Activity{
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .By-Company-Description{
        font-size: 14px;
        margin-top: 20px;
    }
    .Our-Projects-Picture{
        width: 100%;
    }
    .Our-Projects-Parts{
        text-align: center;
    }
    .Our-Projects-Description{
        width: 100%;
    }
    .Our-Projects-Text-1,.Our-Projects-Text-2{
        text-align: left;
    }
    .Our-Clients hr{
        display: none;
    }
    .Advantage hr{
        display: none;
    }
    .Contacts-Info span{
        font-size: 14px;
    }
    .Contacts-Info p{
        display: block;
    }
    .Head-Center-Text p{
        font-size: 22px;
    }
    .Advantage-Head, .Main-Activity-Head, .By-Company-Head, .Our-Projects-Head, .Our-Clients-Head{
        font-size: 25px;
    }
    .Head-Menu span{
        font-size: 13px;
        padding-top: 15px;
    }
    .Head-Menu{
        padding-bottom: 18px;
    }
    p.Phone-Number img{
        width: 30px;
        height: 44px
    }
    p.Phone-Number{
        font-size: 25px;
    }
    button.Order{
        font-size: 13px;
    }

    .Contacts-Info p{
        display: block;
        text-align: left;
    }
    .Contacts-Info span{
        padding-left: 0px;
    }
    .Contacts-Text-Head-2{
        margin-top: 35px;
        font-size: 23px;
    }
    .Contacts-Text-Head{
        font-size: 23px;
    }

    .Contacts-Text{
        padding-bottom: 50px;
    }
    p.Delta-Logo-Text-2{
        margin-top: -13px;
    }
    .By-Company{
        padding-bottom: 0px;
        padding-top: 25px;
    }
    .Main-Activity-Parts{
        margin-top: 20px;
    }

    .Our-Clients{
        padding-top: 30px;
    }
    .Client img{
        margin-top:  30px;
    }
    .Our-Projects{
        padding-top: 20px;
    }
    .Main-Activity-Part {
        padding-left: 15px;
    }
    .Leader-Head{
        font-size: 19px;
    }
}