/* font-family: 'Exo 2', sans-serif;
    font-family: 'Open Sans', sans-serif;
 */

*
{
	box-sizing: border-box;
	margin:     0px;
	padding:    0px;
}

.Wrapper
{
	font-size: 0px;
}

.Head-Menu .Menu-Logo
{
	position:           absolute;
	left:               -220px;
	top:                17px;
	transition:         all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition:    all 0.3s ease-in;
	-o-transition:      all 0.3s ease-in;
	-ms-transition:     all 0.3s ease-in;
}

.Head-Menu .Menu-Phone
{
	position:           absolute;
	right:              -220px;
	top:                17px;
	font-size:          24px;
	color:              white;
	font-family:        'Exo 2', sans-serif;
	line-height:        32px;
	transition:         all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition:    all 0.3s ease-in;
	-o-transition:      all 0.3s ease-in;
	-ms-transition:     all 0.3s ease-in;
}

.Head-Menu .Menu-Phone img
{
	width:        22px;
	position:     relative;
	top:          9px;
	margin-right: 8px;
}

.Head-Menu ul > li > a
{
	font-family:        'Exo 2', sans-serif;
	font-weight:        500;
	text-decoration:    none;
	color:              white;
	text-transform:     uppercase;
	transition:         all 0.15s;
	-webkit-transition: all 0.15s;
	-moz-transition:    all 0.15s;
	-o-transition:      all 0.15s;
	-ms-transition:     all 0.15s;
}

.Head-Menu li ul.nav-child
{
	position:           absolute;
	background-color:   #f8f8f8;
	color:              black;
	opacity:            0;
	height:             0;
	overflow:           hidden;
	margin-top:         15px;
	margin-left:        -15px;
	padding-top:        10px;
	padding-bottom:     10px;
	transition:         all 0.2s ease 0.1s;
	-webkit-transition: all 0.2s ease 0.1s;
	-moz-transition:    all 0.2s ease 0.1s;
	-o-transition:      all 0.2s ease 0.1s;
	-ms-transition:     all 0.2s ease 0.1s;
	box-shadow:         0px 0px 12px rgba(0, 0, 0, 0.65);
}

.Head-Menu li ul.nav-child:before
{
	position:      absolute;
	content:       " ";
	height:        0;
	width:         0;
	top:           -10px;
	left:          24px;
	border-left:   12px solid transparent;
	border-right:  12px solid transparent;
	border-bottom: 10px solid rgb(248, 248, 248);
}

.Head-Menu li ul.nav-child li
{
	display:        block;
	text-align:     left;
	font-size:      15px;
	padding:        15px;
	padding-top:    10px;
	padding-bottom: 10px;
}

.Head-Menu li ul.nav-child li:hover
{
	background:         rgb(121, 177, 218);
	transition:         all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition:    all 0.2s ease-in;
	-o-transition:      all 0.2s ease-in;
	-ms-transition:     all 0.2s ease-in;
}

.Head-Menu li ul.nav-child li a
{
	color: #000;
}

.Head-Menu li ul.nav-child li:hover a
{
	color: #fff;
}

.Head-Menu > ul > li > a:hover
{
	text-shadow:        0px 1px 12px black;
	transition:         all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-o-transition:      all 0.2s;
	-ms-transition:     all 0.2s;
}

.Head-Menu ul > li
{
	display:       inline-block;
	font-size:     19px;
	padding-top:   25px;
	padding-left:  12px;
	padding-right: 12px;
}

.Head-Menu
{
	background:         url("/images/back-head-menu.png") center;
	width:              100%;
	text-align:         center;
	background-size:    cover;
	position:           fixed;
	z-index:            999;
	padding-bottom:     26px;
	transition:         all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition:    all 0.4s ease-in;
	-o-transition:      all 0.4s ease-in;
	-ms-transition:     all 0.4s ease-in;
}

.Header
{
	background:      url("/images/back-head.jpg") center;
	background-size: cover;
}

.Head-Menu-Sub
{
	padding-top:    170px;
	width:          100%;
	position:       relative;
	text-align:     center;
	padding-bottom: 165px;
	max-width:      1920px;
	margin:         0 auto;
}

.Head-Delta-Logo
{
	width:          29%;
	display:        inline-block;
	vertical-align: middle;
	margin-top:     -16px;
	position:       relative;
}

p.Delta-Logo-Text-1
{
	font-size:   101px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	color:       white;
	text-align:  center;
}

p.Delta-Logo-Text-2
{
	font-family:  'Exo 2', sans-serif;
	font-weight:  500;
	font-size:    15.5px;
	color:        white;
	text-align:   center;
	padding-left: 80px;
	margin-top:   -16px;
}

.Head-Center-Text
{
	width:          42%;
	display:        inline-block;
	vertical-align: middle;
}

.Head-Center-Text p
{
	font-family:    'Exo 2', sans-serif;
	font-size:      48px;
	font-weight:    300;
	color:          white;
	text-align:     center;
	text-transform: uppercase;
	line-height:    54px;
}

.Head-Phone
{
	display:        inline-block;
	width:          29%;
	vertical-align: middle;
}

p.Phone-Number
{
	font-family:   'Exo 2', sans-serif;
	font-size:     50px;
	font-weight:   300;
	color:         white;
	text-align:    center;
	position:      relative;
	margin-bottom: 25px;
	margin-left:   -55px;
}

p.Phone-Number img
{
	width:    42px;
	height:   56px;
	position: relative;
	top:      17px;
}

button.Order
{
	display:            block;
	margin:             0 auto;
	font-family:        'Open Sans', sans-serif;
	font-size:          26px;
	color:              white;
	background:         none;
	border:             2px solid white;
	cursor:             pointer;
	padding:            10px;
	border-radius:      12px;
	transition:         all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition:    all 0.3s ease 0s;
	-o-transition:      all 0.3s ease 0s;
	-ms-transition:     all 0.3s ease 0s;
}

button.Order:focus
{
	outline: none;
}

.Advantage div
{
	width:          25%;
	display:        inline-block;
	text-align:     center;
	vertical-align: top;
}

.Advantage .Advantage-Block-Tri
{
	margin-bottom: 95px;
}

.Advantage .Advantage-Block-Tri div
{
	width: 33%;
}

.Advantage .Advantage-Block-Tri div p
{
	margin-top: 10px;
}

.Advantage .Advantage-Block-Tri div p.Position
{
	font-size:     14px;
	margin-bottom: 30px;
}

.Advantage .Advantage-Block-Tri div p.Data
{
	font-size:  16px;
	color:      rgb(118, 118, 118);
	margin-top: 0px;
}

.Advantage
{
	text-align:     center;
	padding-top:    60px;
	padding-bottom: 110px;
	padding-left:   35px;
	padding-right:  35px;
}

.Advantages-Text
{
	font-size:   20px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	max-width:   800px;
	line-height: 26px;
	margin:      40px auto 40px;
}

.Advantage div p
{
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	color:       black;
	font-size:   24px;
	margin-top:  35px;
}

.Advantage div p span
{
	font-size:  16px;
	margin-top: 10px;
	display:    block;
	color:      rgb(51, 51, 51);
}

.Advantage div img
{
	max-width: 100%;
}

.Advantage-Head
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
	position:       relative;
	background:     white;
	padding-left:   8px;
	padding-right:  8px;
}

.Advantage hr
{
	border:     none;
	border-top: 1px solid #e2e2e2;
	width:      100%;
	top:        20px;
	position:   relative;
}

.Advantage-Block
{
	width:      100% !important;
	margin-top: 85px;
}

.Main-Activity-Part ul li
{
	font-family:     'Exo 2', sans-serif;
	font-weight:     400;
	font-size:       16px;
	color:           #323232;
	list-style-type: none;
	position:        relative;
	margin-top:      20px;
}

.Main-Activity-Part ul
{
	padding-left:  20px;
	padding-right: 30px;
}

.Main-Activity-Part ul li:before
{
	content:    "";
	width:      8px;
	height:     8px;
	position:   absolute;
	background: #5a9fd1;
	top:        8px;
	left:       -18px;
}

.Main-Activity-Part p
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    600;
	font-size:      25px;
	text-transform: uppercase;
}

.Main-Activity-Head
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
	text-align:     center;
	display:        inline-block;
	position:       relative;
}

.Main-Activity-Head:before
{
	content:    "";
	position:   absolute;
	height:     1px;
	background: rgb(240, 241, 241); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2JjYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(240, 241, 241, 1)), color-stop(100%, rgba(188, 188, 188, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* W3C */
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f1f1', endColorstr='#bcbcbc', GradientType=1); /* IE6-8 */
	width:      165px;
	top:        18px;
	left:       -189px;
}

.Main-Activity-Head:after
{
	content:    "";
	position:   absolute;
	height:     1px;
	width:      165px;
	top:        18px;
	right:      -189px;
	background: rgb(188, 188, 188); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjYmNiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(188, 188, 188, 1)), color-stop(100%, rgba(240, 241, 241, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* W3C */
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#f0f1f1', GradientType=1); /* IE6-8 */
}

.Col
{
	display:        inline-block;
	width:          33.33%;
	vertical-align: top;
}

.Main-Activity
{
	width:          100%;
	padding-left:   150px;
	padding-right:  150px;
	padding-top:    60px;
	padding-bottom: 100px;
	margin-bottom:  30px;
}

.Main-Activity
{
	background:        url("/ico/back-activity.jpg") center;
	background-repeat: repeat;
	text-align:        center;
}

.Main-Activity-Parts
{
	max-width:  1920px;
	margin:     0 auto;
	margin-top: 100px;
	text-align: left;
}

.Margin-col-1
{
	margin-top: 135px;
}

.Margin-col-2
{
	margin-top: 90px;
}

.Margin-col-3
{
	margin-top: 94px;
}

.By-Company-Head
{
	font-size:      30px;
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	text-transform: uppercase;
}

.By-Company-Description
{
	font-size:   20px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	margin-top:  25px;
	max-width:   800px;
	line-height: 26px;
}

.By-Company-Description a
{
	font-size: 16px;
	color:     rgb(44, 108, 160);
}

.By-Company-Picture img
{
	max-width: 100%;
	display:   block;
	margin:    0 auto;
}

.By-Company-Picture
{
	width:          45%;
	display:        inline-block;
	vertical-align: top;
}

.By-Company-Text
{
	width:          55%;
	display:        inline-block;
	vertical-align: top;
	padding-top:    50px;
	text-align:     left;
    padding-right:  20px;
}

.By-Company-Text img{
    max-width: 100%;
}

.By-Company
{
	padding-top:    55px;
	width:          100%;
	padding-bottom: 95px;
	text-align:     center;
	max-width:      1920px;
	margin:         0 auto;
}

.Our-Projects-Head
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
	text-align:     center;
	position:       relative;
	display:        inline-block;
}

.Our-Projects-Head:before
{
	content:    "";
	position:   absolute;
	height:     1px;
	background: rgb(240, 241, 241); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2JjYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(240, 241, 241, 1)), color-stop(100%, rgba(188, 188, 188, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* W3C */
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f1f1', endColorstr='#bcbcbc', GradientType=1); /* IE6-8 */
	width:      165px;
	top:        18px;
	left:       -189px;
}

.Our-Projects-Head:after
{
	content:    "";
	position:   absolute;
	height:     1px;
	width:      165px;
	top:        18px;
	right:      -189px;
	background: rgb(188, 188, 188); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjYmNiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(188, 188, 188, 1)), color-stop(100%, rgba(240, 241, 241, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* W3C */
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#f0f1f1', GradientType=1); /* IE6-8 */
}

.Our-Projects-Text-1
{
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	font-size:   18px;
}

.Our-Projects-Text-2
{
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	font-size:   16px;
	margin-top:  25px;
}

.Our-Projects
{
	width:           100%;
	background:      url("/images/back-our-projects.jpg") center;
	background-size: cover;
	padding-left:    120px;
	padding-right:   150px;
	padding-top:     45px;
	padding-bottom:  90px;
	text-align:      center;
	clear:           both;
}

.Our-Projects-Parts
{
	text-align: left;
	max-width:  1920px;
	margin:     0 auto;
}

.Our-Projects-Part
{
	width:          50%;
	display:        inline-block;
	vertical-align: top;
	margin-top:     55px;
}

.Our-Projects-Picture
{
	width:          43%;
	display:        inline-block;
	vertical-align: top;
}

.Our-Projects-Picture img
{
	max-width:     100%;
	border:        3px solid white;
	border-radius: 5px;
}

.Our-Projects-Description
{
	display:      inline-block;
	width:        50%;
	max-width:    380px;
	padding-left: 10px;
}

iframe.Map
{
	width:              100%;
	position:           absolute;
	height:             100%;
	float:              left;
	-webkit-box-shadow: inset 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
}

.Contacts
{
	width:         100%;
	position:      relative;
	float:         left;
}

.Contacts-Text-Head
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
}

.Contacts-Text-Head-2
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
	margin-top:     95px;
}

.Contacts-Info
{
	margin-top: 25px;
}

.Contacts-Info p
{
	font-family:     'Exo 2', sans-serif;
	font-weight:     400;
	font-size:       18px;
	list-style-type: none;
	width:           220px;
	text-align:      right;
	height:          40px;
	float:           left;
	padding-right:   30px;
}

.Contacts-Info span
{
	font-family: 'Exo 2', sans-serif;
	font-weight: 600;
	font-size:   18px;
}

.Contacts-Info span a
{
	text-decoration: none;
	color:           white;
}

.Contacts-Text
{
	background-color: rgba(0, 0, 0, 0.8);
	color:            white;
	padding-left:     75px;
	padding-top:      45px;
	position:         relative;
	float:            right;
	width:            50%;
	padding-bottom:   145px;
}

.Leader-Head
{
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	font-size:   22px;
}

.Leader-Post
{
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	font-size:   16px;
}

.Email a
{
	font-family:     'Exo 2', sans-serif;
	font-weight:     500;
	font-size:       22px;
	text-decoration: none;
	color:           white;
}

.Email
{
	margin-top:   15px;
	position:     relative;
	padding-left: 20px;
}

.Email:before
{
	content:    "";
	position:   absolute;
	background: url("/ico/blue-letter.png");
	width:      16px;
	height:     12px;
	top:        10px;
	left:       0px;
}

.Leader-1
{
	margin-top: 35px;
}

.Leader
{
	margin-top: 60px;
}

.Our-Clients hr
{
	border:     none;
	border-top: 1px solid #e2e2e2;
	width:      100%;
	top:        20px;
	position:   relative;
}

.Our-Clients
{
	text-align:     center;
	float:          left;
	width:          100%;
	padding-top:    0;
	padding-bottom: 90px;
}

.Our-Clients-Head
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
	position:       relative;
	background:     white;
	padding-left:   8px;
	padding-right:  8px;
}

.Client
{
	width: 100%;
}

.Client img
{
	display:        inline-block;
	vertical-align: middle;
	padding-left:   30px;
	padding-right:  30px;
	margin-top:     60px;
	max-width:      100%;
	max-width:      245px;
}

.Footer
{
	float:      left;
	width:      100%;
	background: #333;
	position:   relative;
	text-align: left;
	/*height: 170px;*/
}

.Footer > img
{
	position: absolute;
	width:    215px;
	height:   335px;
	bottom:   0;
	left:     20px;
	z-index:  1000;
}

.Footer .Head-Delta-Logo
{
	width:          auto;
	display:        inline-block;
	vertical-align: middle;
	margin-top:     0px;
	padding-left:   260px;
	padding-bottom: 35px;
}

.Footer-Text
{
	font-family:  'Exo 2', sans-serif;
	font-weight:  400;
	font-size:    16px;
	display:      inline-block;
	color:        white;
	padding-left: 60px;
}

.Order-Block-Head
{
	font-size:   26px;
	font-family: 'Open Sans', sans-serif;
}

.Your-Phone
{
	font-size:     17px;
	font-family:   'Open Sans', sans-serif;
	margin-top:    45px;
	margin-bottom: 10px;
}

.Order-Block input
{
	font-size:      24px;
	font-family:    'Open Sans', sans-serif;
	display:        inline-block;
	vertical-align: middle;
	padding:        5px;
	padding-left:   15px;
	width:          70%;
}

.Order-Block input:focus
{
	outline: none;
}

.Call-Me
{
	background-color:   #5a9fd1;
	font-size:          20px;
	font-family:        'Open Sans', sans-serif;
	color:              white;
	width:              205px;
	cursor:             pointer;
	display:            inline-block;
	padding:            10px;
	outline:            none;
	border:             none;
	vertical-align:     middle;
	margin-left:        20px;
	transition:         all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition:    all 0.3s ease 0s;
	-o-transition:      all 0.3s ease 0s;
	-ms-transition:     all 0.3s ease 0s;
}

.Order-Block
{
	position:         relative;
	background-color: white;
	padding:          50px;
	z-index:          99999;
	width:            865px;
	margin:           0 auto;
	top:              355px;
}

.Wrapper-Order-Block
{
	display:  none;
	width:    100%;
	position: fixed;
	height:   100%;
	z-index:  1000;
	top:      0px;
	bottom:   0px;
	right:    0px;
	left:     0px;
}

.Layout
{
	width:      100%;
	height:     100%;
	background: rgba(0, 0, 0, 0.3);
	position:   fixed;
}

.Registration-Success, .Registration-Error
{
	font-size:   17px;
	font-family: 'Open Sans', sans-serif;
	margin-top:  20px;
}

.Call-Me:hover
{
	background-color:   rgb(173, 46, 46);
	transition:         all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition:    all 0.3s ease 0s;
	-o-transition:      all 0.3s ease 0s;
	-ms-transition:     all 0.3s ease 0s;
}

button.Order:hover
{
	transition:         all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition:    all 0.3s ease 0s;
	-o-transition:      all 0.3s ease 0s;
	-ms-transition:     all 0.3s ease 0s;
	color:              rgb(90, 159, 209);
	border:             2px solid rgb(90, 159, 209);
}

.Red-Kran-Logo
{
	position:      absolute;
	top:           -700px;
	left:          50%;
	max-width:     100%;
	padding-left:  20px;
	padding-right: 20px;
}

.Red-Kran
{
	max-width:     100%;
	padding-left:  20px;
	padding-right: 20px;
}

.item-page
{
	/*margin-top:    45px;*/
	/*margin-bottom: 90px;*/
}

.item-page p
{
	font-size:   20px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	margin-top:  25px;
	max-width:   800px;
	line-height: 26px;

}

.zoo-item-list
{

}

.zoo-item-list > li
{
	overflow: visible;
}

ul.zoo-item-list.zoo-list.blog-default
{
	text-align:     center;
	float:          left;
	width:          100%;
	padding-top:    50px;
	padding-bottom: 10px;
}

ul.zoo-item-list.zoo-list.blog-default img
{
	display:        inline-block;
	vertical-align: middle;
	padding-left:   30px;
	padding-right:  30px;
	margin-top:     60px;
	max-width:      245px;
	height:         auto;
	width:          100%;
}

ul.zoo-item-list.zoo-list.blog-default
{
	display: block;
}

.zoo-item-list div.media-left
{
	margin: 0;
	float:  none;
}

ul.zoo-list
{
	margin:     0;
	padding:    0;
	list-style: none;
}

#yoo-zoo.blog-default .item h1.pos-title
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
	position:       relative;
	background:     white;
}

#yoo-zoo.blog-default .item
{
	margin:    100px auto;
	max-width: 800px;
}

#yoo-zoo.blog-default .item p
{
	font-size:   20px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	margin-top:  25px;
	max-width:   800px;
	line-height: 26px;
}

#yoo-zoo.blog-default .item .element-textarea
{
	float: none;
}

#yoo-zoo .item div.media-left
{
	float: none;
}

.element.element-link.last a
{
	font-size: 16px;
	color:     rgb(84, 147, 209);
}

ul.zoo-list > li
{
	display: inline-block;
	border:  none;
}

ul.zoo-list.blog-sans > li
{
	display:        block;
	border-bottom:  1px solid #e2e2e2;
	padding-bottom: 20px;
	max-width:      800px;
	margin:         0 auto;
}

.blog-sans.zoo-item-list p.title
{
	display:         block;
	font-family:     'Exo 2', sans-serif;
	font-weight:     500;
	font-size:       24px;
	text-transform:  uppercase;
	position:        relative;
	background:      white;
	text-decoration: none;
	margin-top:      40px;
	color:           #000;
}

.blog-sans.zoo-item-list p.meta
{
	padding:     10px;
	display:     block;
	font-style:  normal;
	font-family: 'Exo 2', sans-serif;
}

.blog-sans .element.element-textarea.last
{
	font-size: 16px;
}

.blog-sans .element.element-textarea
{
	font-size:   20px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	max-width:   800px;
	line-height: 26px;
	margin:      25px auto;
	text-align:  justify;
}

a[data-lightbox] img
{
	max-width: 400px;
}

#lightbox-tmp, #lightbox-wrap, #lightbox-overlay, #lightbox-loading, #lightbox-wrap *
{
	box-sizing: content-box;
}

.slides h3
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    400;
	font-size:      32px;
	text-transform: uppercase;
	position:       absolute;
	top:            60px;
	text-shadow:    0px 0px 10px black;
	width:          40%;
	color:          white;
	left:           110px;
}

.slides h3 i
{
	display:    block;
	font-size:  24px;
	margin-top: 28px;
	font-style: initial;
}

.Our-Projects-Slider
{
	font-family:    'Exo 2', sans-serif;
	font-weight:    500;
	font-size:      30px;
	text-transform: uppercase;
	position:       relative;
	width:          100%;
	text-align:     center;
	display:        block;
	padding:        20px;
}

.Before-Component hr
{
	border:     none;
	border-top: 1px solid #e2e2e2;
	width:      96%;
	top:        40px;
	position:   relative;
	margin:     0 2%;
}

.Our-Projects-Slider b
{
	display:          inline-block;
	background-color: white;
	padding:          0 20px;
	font-weight:      500;
}

.wk-slideshow-default > div .prev
{
	left:                30px;
	background-position: 0 -50px !important;
}

.wk-slideshow-default > div .next
{
	right:               30px;
	background-position: 0 0 !important;
}

.wk-slideshow-default > div .next, .wk-slideshow-default > div .prev
{
	display:    block;
	visibility: visible;
	top:        50%;
	width:      50px;
	height:     50px;
	margin-top: -25px;
	background: url("/media/widgetkit/widgets/slideshow/styles/default/images/buttons.png") 0 50px no-repeat;
}

.Before-Component
{
	margin-bottom: 17px;
}


.wk-slideshow-default .nav {
	margin-top: 15px;
	text-align: center;
	position: relative;
	top: -50px;
	z-index: 1000;
}